@import url("reset.css");

html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  /* 1rem = 10px */
  font-size: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
