@import url("reset.css");

/** MOBILE VARS **/
:root {
  /** theme **/
  --primary-color-100: #071952;
  --primary-color-80: #088395;
  --primary-color-50: #37B7C3;
  --primary-color-10: #F1FCFF;
  --primary-gradient: var(--gradiente-fondo, linear-gradient(180deg, #088395 0%, #364D97 100%));

  /** fonts **/
  --h1-fs: 4rem;
  --h2-fs: 3rem;
  --h3-fs: 2rem;
  --h3-fw: 500;
  --p-fs: 1.9rem;
  --fs-xs: 1.5rem;
  --icon-size: 3.2rem;
  --lh-1: 1.2;
  --main-text-alignment: center;

  /** spacing **/
  --main-x-padding: 2rem;
  --main-y-padding: 3rem;
}

/** TABLET VARS **/
@media (width >=768px) {
  :root {
    /** fonts **/
    --h1-fs: 6rem;
    --h3-fs: 3rem;

    /** spacing **/
    --main-x-padding: 10rem;
  }
}

@media (width >=992px) {
  :root {
    --main-text-alignment: left;
  }
}

html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  /* 1rem = 10px */
  font-size: 1.6rem;
  text-align: var(--main-text-alignment);
  color: var(--primary-color-10);
  background: var(--primary-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 100vh;
  padding: var(--main-y-padding) var(--main-x-padding);
}

main {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/** COMMON **/
h1 {
  font-size: var(--h1-fs);
}

h2 {
  font-size: var(--h2-fs);
  line-height: var(--lh-1);
}

h3 {
  font-size: var(--h3-fs);
  font-weight: var(--h3-fw);
  line-height: var(--lh-1);
}

p {
  font-size: var(--p-fs);
  line-height: var(--lh-1);
}

svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

button:not(.swal2-close) {
  cursor: pointer;
  border: none;
  font-size: var(--p-fs);
  border-radius: 1.2rem;
  padding: 0;
  color: var(--primary-color-10);
  background-color: var(--primary-color-100);
  top: 0;
  left: 0;
  transition: top 0.2s ease, left 0.2s ease, box-shadow 0.2s ease;

  >span {
    display: block;
  }

  &:hover,
  &:focus {
    position: relative;
    top: -1.2rem;
    left: -1.2rem;
    box-shadow: 1.2rem 1.2rem 0 var(--primary-color-50);
  }
}

/** UTILITIES **/
.flex-column {
  display: flex;
  flex-direction: column;
}

.rounded-circle {
  border-radius: 50%;
}
