.projects {
  >li {
    position: relative;
    padding: 2rem;
    box-shadow: var(--modal-card-box-shadow);

    >.stats {
      position: absolute;
      top: 0.5rem;

      >p {
        float: left;
        font-size: 1rem;
      }
    }

    >ul {
      position: absolute;
      bottom: -1rem;

      >li {
        float: left;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        color: white;
        background-color: black;
        width: fit-content;
        padding: 0.2rem 0.5rem;
        border-radius: 2rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
